/* CLASES DE AUTH.TSX */

.auth-container{
    background-color: var(--color-iron);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow:column ;
    align-items: center;
    justify-content: center;
}

.back-home{
    width: 90%;
    text-align: end;
    margin-bottom: 5px;
}

.auth-swiper-container {
    background-color: var(--color-coal);
    box-shadow: 0px 0px 16px 0px var(--color-gray);
    max-width: 1500px;
    width: 90vw;
    height: 80vh;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
  }



.active-bullet {
    border:1px solid var(--color-orange)!important;
    color:var(--color-orange);
    font-weight: bold;
    margin: 0 5px;
    border-radius: 5px;
    max-width: 170px;
    min-height: 30px;    
}
.bullets {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    cursor:pointer;
}

.swiper-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-pagination-bullets {
    color: var(--color-navy);
    font-weight: bold;
}


.inputs-container {
    margin-bottom: 15px;
}

@media (max-height: 970px) {
    .inputs-container{
      margin-bottom: 20px;
    }
  }



/* ------------- NO SE HACEN ARCHIVOS APARTE PARA LOGIN Y ÑREGISTRO, YA QUE NO REQUIEREN MUCHO CSS */

/* CLASES DE LOGIN.TSX*/
.login-container{
    display: flex;
    height: calc(100% - 80px);
}

/* CLASES DE LOGIN.TSX*/