:root {
   --color-dark-full:#141414;  /*full porque no va  a cambiar con el tema claro u oscuro*/
  --color-gold: #FFD700;
  --color-light: #f5f0f0; 
  --color-white: #f3eded;
  --color-dark: #141414;
  --color-coal:    #3a3a3a;  /* gris humo más definido */
  --color-iron:    #4e4e4e;  /* gris oscuro con presencia */
  --color-steel:   #7e7e7e;  /* gris acero con buena legibilidad */
  --color-walnut:  #b35a2d;  /* marrón cálido profundo */
  --color-leather: #d98739;  /* cuero tostado con fuerza */
  --color-navy:    #4e6fb0;  /* azul marino vibrante pero sobrio */
  --color-cream:   #FAF3DD;  /*  */
  --color-orange:  #e4761f;  /* naranja potente pero natural */
  --color-red:     #c84343;  /* rojo cálido con carácter */
  --color-gray:    #c0c0c0;  /* gris claro con más peso */
}

body[data-theme="dark"] {
  --color-gold: #C5A100;
  --color-light: #f3e8e8; 
  --color-white: #141414;
  --color-dark: #f7f7f7;
  --color-coal: #1a1a1a; /* negro carbón profundo*/
  --color-iron: #2c2c2c; /* hierro oscuro*/
  --color-steel: #4e4e4e; /* acero metálico oscuro*/
  --color-walnut: #8a421a; /* marrón tostado fuerte*/
  --color-leather: #b55a1a; /* cuero intenso*/
  --color-navy: #223f7a; /* azul marino brillante*/
  --color-cream: #b0a18f; /* oliva más vivo*/
  --color-orange: #e66000; /* naranja intenso*/
  --color-red: #b71c1c; /* rojo sangre fuerte*/
  --color-gray: #a0a0a0; /* gris medio brillante*/
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.swiper {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.b-zoom:hover {
  transform: scale(1.05);
  transition: transform .3s ease-in-out;
}


.b-container-75{
  margin-right: auto;
  margin-left: auto;
  width: 75%;
}
.b-container-80{
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}
.b-container-85{
  margin-right: auto;
  margin-left: auto;
  width: 85%;
}
.b-container-90{
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}
.b-container-95{
  margin-right: auto;
  margin-left: auto;
  width: 95%;
}

.sections-title {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
}
