:root {
  --color-dark-full: rgb(20, 20, 20);  /*full porque no va  a cambiar con el tema claro u oscuro*/
  --color-gold: rgb(255, 215, 0);
  --color-light: rgb(245, 240, 240); 
  --color-white: rgb(243, 237, 237);
  --color-dark: rgb(20, 20, 20);
  --color-coal:    rgb(58, 58, 58);  /* gris humo más definido */
  --color-iron:    rgb(78, 78, 78);  /* gris oscuro con presencia */
  --color-steel:   rgb(126, 126, 126);  /* gris acero con buena legibilidad */
  --color-walnut:  rgb(179, 90, 45);  /* marrón cálido profundo */
  --color-leather: rgb(217, 135, 57);  /* cuero tostado con fuerza */
  --color-navy:    rgb(78, 111, 176);  /* azul marino vibrante pero sobrio */
  --color-cream:   rgb(250, 243, 221);  /*  */
  --color-orange:  rgb(228, 118, 31);  /* naranja potente pero natural */
  --color-red:     rgb(200, 67, 67);  /* rojo cálido con carácter */
  --color-gray:    rgb(192, 192, 192);  /* gris claro con más peso */
}

body[data-theme="dark"] {
  --color-gold: rgb(197, 161, 0);
  --color-light: rgb(243, 232, 232); 
  --color-white: rgb(20, 20, 20);
  --color-dark: rgb(247, 247, 247);
  --color-coal: rgb(26, 26, 26); /* negro carbón profundo*/
  --color-iron: rgb(44, 44, 44); /* hierro oscuro*/
  --color-steel: rgb(78, 78, 78); /* acero metálico oscuro*/
  --color-walnut: rgb(138, 66, 26); /* marrón tostado fuerte*/
  --color-leather: rgb(181, 90, 26); /* cuero intenso*/
  --color-navy: rgb(34, 63, 122); /* azul marino brillante*/
  --color-cream: rgb(176, 161, 143); /* oliva más vivo*/
  --color-orange: rgb(230, 96, 0); /* naranja intenso*/
  --color-red: rgb(183, 28, 28); /* rojo sangre fuerte*/
  --color-gray: rgb(160, 160, 160); /* gris medio brillante*/
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.swiper {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.b-zoom:hover {
  transform: scale(1.05);
  transition: transform .3s ease-in-out;
}


.b-container-75{
  margin-right: auto;
  margin-left: auto;
  width: 75%;
}
.b-container-80{
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}
.b-container-85{
  margin-right: auto;
  margin-left: auto;
  width: 85%;
}
.b-container-90{
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}
.b-container-95{
  margin-right: auto;
  margin-left: auto;
  width: 95%;
}

.sections-title {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
}
